conditionalTags:
	Aryeo\PHPStan\Rules\Tests\ClassMustExtendTestCaseRule:
		phpstan.rules.rule: %aryeo.tests.enabled%
	Aryeo\PHPStan\Rules\Tests\MethodNamePrefixRule:
		phpstan.rules.rule: %aryeo.tests.enabled%
	Aryeo\PHPStan\Rules\Tests\MethodNameSnakeCaseRule:
		phpstan.rules.rule: %aryeo.tests.enabled%
parameters:
	aryeo:
		tests:
			enabled: true
			testCaseClass: Tests\TestCase
parametersSchema:
	aryeo: structure([
		tests: structure([
			enabled: bool()
			testCaseClass: string()
		])
	])
services:
	-
		class: Aryeo\PHPStan\Rules\Enums\EnumCasePascalCaseRule
		tags:
			- phpstan.rules.rule
	-
		class: Aryeo\PHPStan\Rules\Tests\ClassMustExtendTestCaseRule
		arguments:
			testCaseClass: %aryeo.tests.testCaseClass%
	-
		class: Aryeo\PHPStan\Rules\Tests\MethodNamePrefixRule
		arguments:
			testCaseClass: %aryeo.tests.testCaseClass%
	-
		class: Aryeo\PHPStan\Rules\Tests\MethodNameSnakeCaseRule
		arguments:
			testCaseClass: %aryeo.tests.testCaseClass%
