parameters:
	testCaseClass: 'Tests\\TestCase'
services:
	-
		class: Aryeo\PHPStan\Rules\Enums\EnumCasePascalCaseRule
		tags:
			- phpstan.rules.rule
	-
		class: Aryeo\PHPStan\Rules\Tests\ClassMustExtendTestCaseRule
		arguments:
			testCaseClass: %testCaseClass%
		tags:
			- phpstan.rules.rule
	-
		class: Aryeo\PHPStan\Rules\Tests\MethodNamePrefixRule
		tags:
			- phpstan.rules.rule
	-
		class: Aryeo\PHPStan\Rules\Tests\MethodNameSnakeCaseRule
		tags:
			- phpstan.rules.rule
