parameters:
	aryeo:
		tests:
			testCaseClass: Tests\TestCase
parametersSchema:
	aryeo: structure([
		tests: structure([
			testCaseClass: string()
		])
	])
services:
	-
		class: Aryeo\PHPStan\Rules\Enums\EnumCasePascalCaseRule
		tags:
			- phpstan.rules.rule
	-
		class: Aryeo\PHPStan\Rules\Tests\ClassMustExtendTestCaseRule
		arguments:
			testCaseClass: %aryeo.tests.testCaseClass%
		tags:
			- phpstan.rules.rule
	-
		class: Aryeo\PHPStan\Rules\Tests\MethodNamePrefixRule
		arguments:
			testCaseClass: %aryeo.tests.testCaseClass%
		tags:
			- phpstan.rules.rule
	-
		class: Aryeo\PHPStan\Rules\Tests\MethodNameSnakeCaseRule
		arguments:
			testCaseClass: %aryeo.tests.testCaseClass%
		tags:
			- phpstan.rules.rule
